.headshots {
  width: 10rem;
  margin-bottom: 0;
}

table td, table th {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

table td img {
  height: 6rem;
}

.lock {
  border: solid 2px goldenrod
}

.over {
  color: #429e62;
}

.under {
  color: #fe4a49;
  font-weight: bold;
}