table td, table th {
  text-align: center;
}

table td img {
  height: 6rem;
}

.over {
  color: #f5f1ed;
  background-color: #429e62;
  font-weight: bold;
}

.under {
  color: #f5f1ed;
  background-color: #fe4a49;
  font-weight: bold;
}